<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <%
    var title = page.title;
  
    if (is_archive()){
      title = __('archives');
  
      if (is_month()){
        title += '：' + page.year + '/' + page.month;
      } else if (is_year()){
        title += '：' + page.year;
      }
    } else if (is_category()){
      title = __('分类') + '：' + page.category;
    } else if (is_tag()){
      if (theme.hashtag_prefix_before_tags) {
        title = '#' + page.tag;
      } else {
        title = __('标签') + '：' + page.tag;
      }
    } else if (theme.search == true && page.type == 'search') {
      title = __('搜索')
    } else if (page.type == 'tags') {
      title = __('标签');
    } else if (page.type == 'categories') {
      title = __('分类');
    }
    %>
    <meta name="viewport" content="width=device - width, initial - scale = 1.0, minimum - scale = 0.5, maximum - scale = 2.0, user - scalable = yes">
    <title><% if (title){ %><%= title %> - <% } %><%= __('index.site_title') %></title>
    <%- css('css/bootstrap.min.css') %>
  <%- css('css/style.css') %>
  
  <link rel="icon" href="https://static.turboflint.cn/image/∅.png" type="image/png">
  <link rel="stylesheet" href="https://cdn.staticfile.net/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdn.staticfile.net/animate.css/4.1.1/animate.min.css">

</head>


<body>
  <%- include('nav.ejs') %>
  <div class="main-content">
    <%- body %>
  </div>

  <%- include('footer.ejs') %>
  <%- js('js/popper.min.js') %>
  <%- js('js/script.js') %>
  <%- js('js/bootstrap.min.js') %>

  </body>

</html>