<nav class="navbar navbar-expand-lg bg-blue fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%- url_for('index') %>">∅ BroKen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%- url_for('index') %>"><%= __('nav.home') %> <i class="bi bi-house"></i>
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%- url_for('search') %>"><%= __('nav.search') %> <i class="bi bi-search"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%- url_for('categories') %>"><%= __('nav.category') %> <i class="bi bi-bookmark"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%- url_for('tags') %>"><%= __('nav.tag') %> <i class="bi bi-tags"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%- url_for('archive') %>"><%= __('nav.archive') %> <i class="bi bi-archive"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://broken-novel-universe.fandom.com/zh/wiki/">维基 <i class="bi bi-wikipedia"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://turboflint.cn/2025/06/13/broken_submit_a_contribution/">投稿 <i class="bi bi-send"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%- url_for('about') %>"><%= __('nav.about') %> ∅</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" >更多内容</a>
          <div class="dropdown-menu">
<% if (theme.menus) { %>
  <% for (var menuText in theme.menus) { %>
    <a class="dropdown-item" href="<%- url_for(theme.menus[menuText]) %>"><%= menuText %></a>
  <% } %>
<% } %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://broken-novel-universe.fandom.com/zh/wiki/Category:角色">人物档案 <i class="bi bi-folder2-open"></i></a>
            <a class="dropdown-item" href="https://broken-novel-universe.fandom.com/zh/wiki/Category:小说">小说档案 <i class="bi bi-book"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
