<article>
    <div class="container" style="margin-top: 8rem;">
        <h1 style="font-size: 2.5rem; font-weight: bold; word-wrap: break-word;">
            <%- page.title %>
        </h1>
        <div class="container">
            <p style="color: gray; font-size: 1rem; word-wrap: break-word;">
              <%= __('post.date') %>：<%- date(page.date, "YYYY-MM-DD") %> &nbsp;
              <%= __('post.category') %>：
              <% page.categories.forEach(function(category) { %>
                <span class="badge rounded-pill bg-dark" style="font-size: 0.875rem;"><%= category.name %></span>
              <% }); %>
            </p>
        <br>
          <div class="article-content post_img" style="font-size: 1.25rem;">
            <%- page.content %>  
        </div>
        &nbsp;
        <%
        let author = page.author;  // 获取文章头部（Front Matter）里定义的作者字段值，比如 'Eric'
        let authorInfo = null;
        if (theme.authors && theme.authors[author]) {
          authorInfo = theme.authors[author];  
        } else {
          authorInfo = {
            name: 'UNKNOW',
            avatar_url: 'https://static.turboflint.cn/image/user.svg', 
          };
        }
        %>
        <a href="<%= '/author_' + authorInfo.name.toLowerCase() %>" style="text-decoration: none;">
            <div class="badge bg-primary text-white d-flex align-items-center">
              <% if (authorInfo.avatar_url) { %>
                <img src="<%= authorInfo.avatar_url %>" class="rounded-circle me-3" alt="avatar" width="50" height="50">
              <% } else { %>
                <img src="#" class="rounded-circle me-3" alt="avatar" width="50" height="50" style="visibility: hidden;">
              <% } %>
              <div style="font-size: 16px;">
                <%= authorInfo.name %><br>
                <span style="font-size: 12px;color: gray;"><%= __('page.author') %></span>
              </div>
            </div>
          </a> 
</article>
<br>
<span class="auto-divider">更多文章</span>
<% let latestPosts = site.posts.sort('-date').slice(0, 3); %>
<ul class="list-unstyled container" style="margin-top: 10px;">
  <% latestPosts.forEach(function(post) { %>
    <li class="mb-4"><h5><a href="../../../../<%- post.path %>"><%- post.title %></a></h5></li>
  <% }); %>
</ul>
